@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(216, 54%, 11%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: hsl(215, 51%, 70%);
}

.container{
    max-width: 400px;
    margin: 0 auto;
}

.card{
    background-color: hsl(216, 50%, 16%);
    width: 350px;
    margin: 2rem 1rem;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 5px hsla(0, 0%, 0%, 0.308);
}

.card-img{
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.card-img > img{
    width: 100%;
    border-radius: 8px;
    display: block;
}

.overlay{
    position: absolute;
    background-color: hsla(178, 100%, 50%, 0.377);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.overlay > img{
    position: absolute;
    width: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-img:hover .overlay{
    cursor: pointer;
    display: block;
}

.card-text a{
    color: white;
    text-decoration: none;
    font-weight: 400;
    display: inline-block;
    margin: 20px 0;
}

.card-text a:hover{
    color: hsl(178, 100%, 50%);
}

.card-text > a{
    font-size: 1.5em;
    font-weight: 600;
}

.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.ethereum, .clock{
    display: flex;
    align-items: center;
}

.ethereum p{
    color: hsl(178, 100%, 50%);
    font-weight: 600;
    padding-left: 8px;
}

.clock p{
    padding-left: 8px;
}

hr{
    border: 1px solid hsl(215, 32%, 27%);
}

.author{
    display: flex;
    align-items: center;
    padding-top: 15px;
}

.author > img{
    width: 30px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 20px;
    margin-right: 15px;
}

.attribution {
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    position: absolute;
    bottom: 8px;
    right: 0;
    left: 0;
    margin: auto;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}